.header {
  background-image: url(../images/Home.png);
  background-size: cover;
  overflow: hidden;
  height:800px;
  background-repeat: no-repeat;
  &-container {
    max-width: 1635px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  &-top {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(52, 56, 70, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding:20px 100px;
  }
}
.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  &-link {
    color: $gray-dark;
    font-weight: 500;
    display: flex;
    align-items: center;
    
  }
  &-link.dropdown::after {
    content:url(/images/icon-arrow.svg);
    margin-left: 8px;
    margin-bottom: 5px;


    
  }
  &-link.dropdown{
   
  }
  &-item {
    margin-left: 35px;
  }
}
.box-search{
  position: relative;
  display: flex;
  align-items: center;
}

.box-search .search {
  background: #efefef;
  border-radius: 10px;
  padding: 13px 10px;
  border: 0;
  width:350px
}
.box-search .search-icon {
  position: absolute;
  right: 15px;
  
}
.menu-button{
  margin-left: auto;
}
.menu-button .btn-menu{
  background:$gradient-pink;
  padding: 10px 35px ;
  border-radius: 10px;
  color:$white;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.0015em;
  margin-right: 10px;
}
.menu-button .btn-menu.sign{
  color: $gray-dark;
  background:none;
  border: 1px solid $gray-dark;
  padding: 10px 22px ;
}