.section-object {
  padding: 30px 0;
  background-color: #fff
}
.heading-object {
  text-align: center;
  position: relative;
}

.objects .wrap-image {
  min-width: 125px;
  width: 125px;
  border-radius: unset;
  margin-right: 20px;
  padding: 8px 20px 20px;
}
