.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.title-product .title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
}
.title-product .title-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  background: $gradient-pink;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-product .title-link::after {
  content: url(../images/icon-arrow-right.svg);
  margin: 0 0 5px 7px;
}

.box-product {
}
.product-item {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 5px;
  position: relative;
  margin-bottom: 10px;
}

.silde-product {
  margin-bottom: 50px;
  .slick-list {
    .slick-track {
    
    }
  }
}

 .lesson-new .slick-slider { margin: 0 -15px;

 } .slick-list .slick-track .slick-slide{
  margin-right: 15px;
  margin-left: 15px;
}
.slick-next,
.slick-prev {
  width: 36px;
  height: 36px;
}
.slick-next {
  right: -60px;
}
.slick-prev {
  left: -60px;
}


.product-item .box-img a img {
  width: 100%;
}
.detail {
  margin-top: 8px;
  padding-bottom: 18px;

  &-title a {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 105%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0025em;
    color: $gray-dark;
  }
  &-tag {
    margin-bottom: 10px;
    li {
      margin-top: 10px;
      list-style-type: none;
    }
    .tag-link {
      background: linear-gradient(
        90deg,
        rgba(227, 32, 104, 0.5) 2.44%,
        rgba(245, 0, 59, 0.5) 100%
      );
      border-radius: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $white;
      padding: 3px 5px 4px 5px;
      margin-top: 10px;
    }
    .tag-link::before {
      content: url(../images/icon-elip.svg);
      padding-right: 8px;
    }
    .text-sort {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      margin-top: 15px;
    }
  }
  &-rate {
    display: flex;
    justify-content: start;
    align-items: center;
    .rate-item {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      margin-right: 15px;
    }
    .rate-item::before {
      content: "";
      background: $gradient-pink;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 10px;
    }
    .rate-item.star {
      display: flex;
      .icon-rate {
        margin-right: 3px;
      }
      .low::before {
        opacity: 0.47;
        padding-right: 10px;
      }
    }
    .rate-item.icon-date::before {
      content: url(../images/icon-date.svg);
    }
    .rate-item.icon-rate::before {
      content: url(../images/icon-star.svg);
      padding-right: 0;
      margin: 0;
    }
    .rate-item.icon-user::before {
      content: url(../images/icon-user.svg);
    }
  }
  &-button {
    display: flex;
    flex-direction: column;
    .btn-buy {
      background: $gradient-pink;
      color: $white;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 15px 16px 15px 16px;
      border-radius: 10px;
      width: 158px;
      text-align: center;
      margin-top: 10px;
    }
    .btn-add {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 15px 12px;
      border-radius: 10px;
      width: 158px;
      text-align: center;
      margin-top: 10px;
      border: 1px solid #f9003b;
      background: $gradient-pink;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:before {
        content: url(../images/cart-add.svg);
        padding-right: 10px;
      }
    }
  }
  &-price {
    position: absolute;
    right: 18px;
    bottom: 37px;
    li {
      list-style: none;
    }
    .old-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      background: $gradient-pink;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: end;
      }
      .cost {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: line-through;
      }
    }
    span {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
.brand-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
text-align:center;


}
.brand{
}
.slide-brand {
  margin: 60px 0 30px 0;
}
.slick-dots li {
 
  border-radius: 5px;
  
  width: 180px;
  height: 8px;
  margin: 0;

}
.slick-dots {}
.slick-dots li.slick-active  {
 background:$gradient-pink;
}

.slick-dots{
  height:8px;
  background: rgba(249, 0, 59, 0.2);
border-radius: 5px;
display: flex;
justify-content: space-around;

}
.slick-dots li:nth-child(6){
  display: none;
}
.slick-dots li.slick-active:nth-child(6){
  display:block;
}
.slick-slider::after{
  content:"";
  
}
// .custom-slick-dots{
//   border-radius: 5px;
//   background:Red;
  
//   width: 190px;
//   height: 8px;
//   margin: 0;
// }