$gradient-pink:linear-gradient(135deg, #E32068 0%, #F5003B 100%);
$white:#FFFFFF;
$primary-color: #2f327d;
$secondary-color: #f48c06;
$third-color: #65daff;
$gray: #696984;
$gray-light: #6c6c6c;
$gray-dark: #343846;
$gray-darker: #252641;
$purple: #5b72ee;
$yellow: #fff2e1;
$blue: #29b9e7;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$wrapper: 1920px;
